[mysql]
host=localhost
user=root
password="_PASSWORD_"

[mysqladmin]
host=localhost
user=root
password="_PASSWORD_"

[mysqldump]
host=localhost
user=root
password="_PASSWORD_"

[mysqlhotcopy]
host=localhost
user=root
password="_PASSWORD_"

[mytop]
host=localhost
user=root
password="_PASSWORD_"

[client]
host=localhost
user=root
password="_PASSWORD_"

[xtrabackup]
host=localhost
user=root
password="_PASSWORD_"
